backend/org1-wallet/*
backend/org2-wallet/*
backend/org3-wallet/*
backend/.env
backend/node_modules
backend/cert

ClientApp/node_modules
ClientApp/.vscode
ClientApp/cert
ClientApp/.angular/cache

LocalAndTesting/App&API/org1-wallet/*
LocalAndTesting/App&API/org2-wallet/*
LocalAndTesting/App&API/org3-wallet/*
LocalAndTesting/App&API/.env
LocalAndTesting/App&API/node_modules

LocalAndTesting/FrontEnd/ui/node_modules
LocalAndTesting/FrontEnd/ui/.vscode
LocalAndTesting/FrontEnd/ui/.angular/cache

Tests/API/testDocs/*
Tests/caliper-workspace/node_modules
Tests/caliper-workspace/caliper.log

.vscode
.idea