.login {
  min-width: 35%;
  max-width: 35%;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 45%;
}

.jumbotron {
  padding: 4rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary{
  margin-top: 20px;
}