<div class="my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center">About Us</h2>
        <h4 class="text-center">Document your classic car history</h4>
        <p class="text-center">
          Our platform lets you register your vehicles and all the information about them.
          The owner of the car can register evidence and authorize other service providers and certifiers to do that as well.
          Authorization access can also be given to other users, such as potential buyers.
          Proper documentation of a classic vehicle can significantly increase its monetary value.
          Our work  and its underlying technologies have gathered interest from several classic car restoration industry players, 
          classic car owners, other workshops, and certification entities
        </p>
  
        <hr class="my-4" style="background-color: #d8d8d8;">
  
        <div class="my-5">
          <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
              <h1 class="text-body-emphasis"> Blockchain-based Decentralized Platform</h1>
              <p class="col-lg-8 mx-auto lead">We faciliate the adequate recording about classic car information, restoration procedures applied, and all all
                associated documentation by ensuring this information is immutable and trustworthy.</p>
              <p class="col-lg-8 mx-auto lead">Moreover, this sytem provides data sharing and facilitates collaboration between interested entities.</p>
              <p class="col-lg-8 mx-auto lead">We follow the <a href="https://fiva.org/download/charter-of-turin-english-version/">FIVA Charter of Turin</a> guidelines for the restoration procedures. All users, workshops and other entities using our platform <b>MUST</b> follow and be aware of these guidelines.</p>
            </div>

          </div>

        </div>
  
        <div class="image-container">
          <img src="assets/img/hlf_logo.png" alt="Left Image" class="corner-image">
          <h4 class="text-center">How ClassicsChain works?</h4>
          <img src="assets/img/ipfs-logo.png" alt="Right Image" class="corner-image">
        </div>
        <p class="text-center">
          As the name suggests, ClassicsChain is developed using the captivating blockchain technology and established on the principles of decentralized web platforms.
          We use <a href="https://www.hyperledger.org/projects/fabric">Hyperledger Fabric</a> as our permissioned blockchain platform, along with  <a href="https://docs.ipfs.tech/">IPFS</a>(InterPlanetary File System) to provide a decentralized media storage.
        </p>
      </div>
    </div>
  </div>
  